@import "reset";
@import "desktop";

html, body, #app {
    height: 100%;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.d-flex {
    display: flex;
}

.h-100 {
    height: 100%;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

input {
    border-bottom: 1px solid black;
}

.bg-white {
    background: white;
}
